div.gen {
    padding-left: 2em;
    padding-right: 2em;
    font-family: "Courier New", "Lucida Console", monospace;
    color: wheat;
}

div.header {
    padding-left: 2em;
    padding-top: 2.5em;
    font-family: "Courier New", "Lucida Console", monospace;
    color: wheat;
    font-weight: bold;
}

a.header {
    font-family: "Courier New", "Lucida Console", monospace;
    color: wheat;
    font-weight: bold;
    text-decoration: underline;
}

#title {
    font-size: 3em;
    display: inline-block;
}


#link {
    font-size: 2em;
    padding-left: 1.5em;
    float: right;
}

#text {
    font-size: 1.5em;
    padding-left: 1.5em;
    background: rgba(0, 0, 0, 0.3);
}

body {
    background-image: url('assets/images/goat.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}